.nav-tabs{
    padding: 25px;
}
a{
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-transform: uppercase;   
}
a:hover{
    cursor: pointer;    
}
ul{
   justify-content: center;
}

