
.grid-container{
    display: grid;
    grid-template-columns: 200px 250px 200px 250px 250px;
    grid-auto-rows: minmax(200px , auto );
    grid-gap: 20px;
    justify-content: space-around;
    align-content: stretch;
    
    
    
}
.grid-item{
    border: 1px solid rgb(255, 47, 75);
}









