
<div class="container">

    <div class="image">
        <img src="../../assets/mur.jpeg" alt="">
    </div>

    <div class="para">
        <h3>Murtaza Mohammadi</h3>
        <p>Murtaza Mohammadi 
            is a person who born in Afghanistan 
            and he is living in Switzerland since 2017. He works 
            as an IT Engineer in Zurich City  In my free time I play football, go hiking and reading books. I am very friendly and easy going. Also, I like to learn new culture, languages..
        </p>
    </div>

    <div class="skills">
        <h3>Education Background </h3>
        <div class="skiAhlls-bar ">
            <p>HTML, CSS, Bootstrap</p>
            <div class="progress">
            <div class="progress-bar bg-success" style="width:80%">80%</div>
            </div>
            <p>JavaScript</p>
            <div class="progress">
            <div class="progress-bar bg-info" style="width:85%">85%</div>
            </div>

            <p>Angular</p>
            <div class="progress">
            <div class="progress-bar bg-primary" style="width:75%">75%</div>
            </div>

            <p>Database </p>
            <div class="progress">
            <div class="progress-bar bg-danger" style="width:50%">50%</div>
            </div>
            
          </div>
    </div> 
    
</div>
<div class="experien-container">
    <div class="experience">
        <h4>My Experience</h4>
        <hr>

        <div class="expe">
            <h5><strong>2019 - Powercoders </strong> </h5>
            <p>Murtaza Mohammadi is a person who born in
                 Afghanistan and he is living in Switzerland
                  since 2017.He works as an IT 
                  Engineer in Zurich City .
            </p>
            <strong>Company :</strong><span>Powercoders Coding Academy For Refugees</span>
            <br>
            <strong>Duration :</strong><span>1 year [2019 - 2020]</span>
            <br>
            <strong>Location :</strong><span>Zürich Switzerland</span>

        </div>


        <div class="expe">
            <h5><strong>2020 - Frontend Developer</strong> </h5>
            <p>Murtaza Mohammadi is a person who born in
                 Afghanistan and he is living in Switzerland
                  since 2017.He works as an IT 
                  Engineer in Zurich City .
            </p>
            <strong>Company :</strong><span>Deep Impact AG</span>
            <br>
            <strong>Duration :</strong><span>1 year [2020 - 2021]</span>
            <br>
            <strong>Location :</strong><span>Winterthur Switzerland</span>

        </div>

        <div class="expe">
            <h5><strong>2021 - Ingenieurbüro Götsch AG Frontend and IT Support</strong> </h5>
            <p>Murtaza Mohammadi is a person who born in
                 Afghanistan and he is living in Switzerland
                  since 2017.He works as an IT 
                  Engineer in Zurich City.
            </p>
            <strong>Company :</strong><span>Powercoders Coding Academy For Refugees</span>
            <br>
            <strong>Duration :</strong><span>5 year [2019 - 2020]</span>
            <br>
            <strong>Location :</strong><span>Zürich Switzerland</span>

        </div>
    </div>
    <div class="education">
        <h4>My Education</h4>
        <hr>
        <div class="expe">
            <h5><strong>2011 - Tamaki High School</strong> </h5>
            <p>Murtaza Mohammadi is a person who born in
                 Afghanistan and he is living in Switzerland
                  since 2017.He works as an IT 
                  Engineer in Zurich City .
            </p>
            <strong>School :</strong><span>Tamaki High School</span>
            <br>
            <strong>Duration :</strong><span>12 year [1999 - 2011]</span>
            <br>
            <strong>Location :</strong><span>Ghazni Afghanistan </span>
        </div>


        <div class="expe">
            <h5><strong>2015 -  Bachelor of Computer Engineerin</strong> </h5>
            <p>Murtaza Mohammadi is a person who born in
                 Afghanistan and he is living in Switzerland
                  since 2017.He works as an IT 
                  Engineer in Zurich City .
            </p>
            <strong>School :</strong><span>Kabul Polytechnic University</span>
            <br>
            <strong>Duration : </strong><span>4 year [2012 - 2015]</span>
            <br>
            <strong>Location :</strong><span>Kabul Afghanistan </span>
        </div>


        <div class="expe">
            <h5><strong>2011 - Tamaki High School</strong> </h5>
            <p>Murtaza Mohammadi is a person who born in
                 Afghanistan and he is living in Switzerland
                  since 2017.He works as an IT 
                  Engineer in Zurich City .
            </p>
            <strong>School :</strong><span>Tamaki High School</span>
            <br>
            <strong>Duration :</strong><span>12 year [1999 - 2011]</span>
            <br>
            <strong>Location :</strong><span>Ghazni Afghanistan </span>
        </div>
    </div>
</div>


<app-hobby></app-hobby>
<app-footer></app-footer>