
<div class="container">
    <div class="row">
      <div class="col">
      <h1>Murtaza Mohammadi</h1>
      <p>I've been working with Murtaza for a year now in a coaching relationship with the Powercoders program. I know him as a friendly, 
        team-player who is willing to take on 
        new challenges and take a step out of his comfort zone. He is also helping other participants in the Powercoders program to learn
         more about testing and other skills.
  
        Through all the incredible challenges, that he had to face this year, he kept a positive outlook and pushed on to learn new 
        skills and try new ways to move ahead.
        
        His most important strengths are his skill to learn new things, openness, humor, connection with people, and language skills
         (great German and English).
        His personality shaped a lot and I must say that he became more confident, he became better at expressing himself and to learn 
        from his mistakes. Regardless if it's about creating a video CV or creating videos for his channel, he is willing to do it in spite 
        of the fears.
        
        I definitely recommend having a chance to work with him as he brings not just technical knowledge, however, a different culture, 
        a different way to solve problems. I'm sure diversity leads to stronger, better, and more efficient teams.
      
      
        I've been working with Murtaza for a year now in a coaching relationship with the Powercoders program. I know him as a friendly, 
        team-player who is willing to take on 
        new challenges and take a step out of his comfort zone. He is also helping other participants in the Powercoders program to learn
         more about testing and other skills.
  
        Through all the incredible challenges, that he had to face this year, he kept a positive outlook and pushed on to learn new 
        skills and try new ways to move ahead.
        
        His most important strengths are his skill to learn new things, openness, humor, connection with people, and language skills
         (great German and English).
        His personality shaped a lot and I must say that he became more confident, he became better at expressing himself and to learn 
        from his mistakes. Regardless if it's about creating a video CV or creating videos for his channel, he is willing to do it in spite 
        of the fears.
        
        I definitely recommend having a chance to work with him as he brings not just technical knowledge, however, a different culture, 
        a different way to solve problems. I'm sure diversity leads to stronger, better, and more efficient teams.</p> 
      </div>
    </div>
  </div>
  