.container{
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "image paragraph"
        "image   skills"
        "image skills"
        "image skills";  
}
.container{
    display: grid;
    grid-template-columns: auto;
    padding: 25px;
    text-overflow: none;
    text-decoration: dashed;
    text-align: center;
    justify-content: baseline;
    
}
.image{
    
    padding: 25px;
    grid-area: image;
}
img{
    width: 550px;
    border-radius: 10px;
}
.para{
    padding: 25px;
    grid-area: paragraph;
}
.skills{
    padding: 25px;
    grid-area: skills;
    
}
/* Ende Layout about me */

.experien-container{
    margin-left: 220px;
    margin-right: 220px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    
    "experience education"
    "experience education"
    "experience education"
    "experience education"
    "experience education"; 
}
.experience{
    grid-area: experience;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;

}
.education{
    grid-area: education;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    
}

.experience {
    margin-right: 25px;
}
h5{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

h3,h4{
    background-color: rgb(6, 6, 7);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

table,td, th{
    border: 1px solid black;
    padding: 25px;
}