

<div class="container">
    <h5 id="montag">Montag</h5>
    <h5 id="dienstag">Dienstag</h5>
    <h5 id="mittwoch">Mittwoch</h5>
    <h5 id="donnerstag">Donnerstag</h5>
    <h5 id="freitag">Freitag</h5>

    <button class="textbox1">Lektion hinzufügens</button>
    <button class="textbox2">Lektion hinzufügen</button>
    <button class="textbox3">Lektion hinzufügen</button>
    <button class="textbox4">Lektion hinzufügen</button>
    <button class="textbox5">Lektion hinzufügen</button>
    <button class="textbox6">Lektion hinzufügen</button>
    <button class="textbox7">Lektion hinzufügen</button>
    <button class="textbox8">Lektion hinzufügen</button>
    <button class="textbox2">Lektion hinzufügen</button>
    <button class="textbox3">Lektion hinzufügen</button>
    <button class="textbox4">Lektion hinzufügen</button>
    <button class="textbox5">Lektion hinzufügen</button>
    <button class="textbox6">Lektion hinzufügen</button>
    <button class="textbox7">Lektion hinzufügen</button>
    <button class="textbox8">Lektion hinzufügen</button>
    <button class="textbox2">Lektion hinzufügen</button>
    <button class="textbox3">Lektion hinzufügen</button>
    <button class="textbox4">Lektion hinzufügen</button>
    <button class="textbox5">Lektion hinzufügen</button>
    <button class="textbox6">Lektion hinzufügen</button>
    <button class="textbox7">Lektion hinzufügen</button>
    <button class="textbox8">Lektion hinzufügen</button>
    

</div>