form  {
    display: flex;
    flex-direction: column;
    margin: 100px;
    
}

input{
    border-radius: 10px;
    height: 40px;

}
textarea{
    border-radius: 10px;
    resize: none;
}


input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}


.list-group-item{
    background-color: #eb4365;
    border-radius: 10px;
}
.list-group-item>p{
    color: white;
    font-weight: bold;
}


