<div class="container">
    <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <!--First name Textfield-->
        <label for="fname">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        required ngModel name="fname"
        #fname="ngModel">
        <span class="help-block" *ngIf="!fname.valid && fname.touched"> Please enter your First name</span>
        <!--Last name Textfield-->
        <label for="lname">Last Name</label>
        <input 
        type="text" 
        class="form-control" 
        required ngModel 
        name="lname"
        #lname ="ngModel">
        <span class="help-block" 
        *ngIf="!lname.valid && lname.touched">
        Please Enter your Last name </span>
        <!--Email Input Field -->
        <label for="email">Email</label>
        <input 
        type="email" 
        class="form-control" 
        required email ngModel 
        name ="email"
        #email="ngModel">
        <span class="help-block" 
        *ngIf="!email.valid && email.touched"
        >Please enter a valid email !
        </span>

        <!--Textarea -->
        <label for="message">Message</label>
        <textarea class="form-control" required ngModel name ="msg" cols="30" rows="10"></textarea>
        <br>

        <!--Buttons-->
        <button type="submit" class="btn btn-info" [disabled]="!postForm.valid"> Submit</button>
        <br>
        <button 
        class="btn btn-primary" 
        (click)="onFetchPosts()"
        >
        Fetch Post</button>
        <br>
        <button class="btn btn-danger" (click)="onClearPosts()">Delete</button>     
    </form>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p *ngIf ="loadedPosts.length < 1 && !isFetching">No Post Available</p>
        <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
            <li class="list-group-item" *ngFor="let post of loadedPosts">
                <p>{{post.fname}}</p>
                <p >{{post.lname}}</p>
                <p >{{post.email}}</p>
                <p >{{post.msg}}</p>
            </li>

        </ul>
        <p *ngIf="isFetching && !error">Loading ...</p>
        <div class="alert alert-danger" *ngIf ="error">
            <h1>An Error Occured !</h1>
            <p>{{ error }}</p>
        </div>
    </div>
</div>
</div>