
.container{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.5fr 1fr;
    grid-gap: 0.5rem;
    grid-template-areas:
      "f1 f2"
      ""
  
}
.task{
    border-radius: 10px;
    height: 90px;
    overflow: none;
    resize: none;
  }

  .left-side{
    background-color: yellowgreen;
  }