.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
            "photo text"
            "london para"
            "berlin berliner";
    margin-top: 50px;
    border: 2px solid black;
    padding: 25px;
    grid-gap: 5rem;
    border-radius: 10px;
}

.photo{
    grid-area: photo;
    
}
.text{
    grid-area: text;
    
}
.london{
    grid-area: london;
}
.para{
    grid-area: para;
}
.berlin{
    grid-area: berlin;
}
.berliner{
    grid-area: berliner;
}

img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
}
