.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "parag parag parag"
        "number email website"
        "button button button";
    margin-top: 25px;
    background-color:rgb(71, 71, 199);
    color: white;
    
}
h1,p{
    text-align: center;
}
.para{
    grid-area: parag;
  
}

.number{
    position: relative;
    text-align: center;
    grid-area: blueerrrr;
}
.number{
    grid-area: number;
    text-align: center;
}

.email{
    grid-area: email;
    text-align: center;
}

.website{
    grid-area: website;
    text-align: center;
}
.button{
    grid-area: button;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    margin-left: 750px;
  
}