<div class="footer">
    <div class="para">
        <h1>Contact Me</h1>
        <p>you can contact via Email, Number and website
            feel free leave a message, if you need help
        </p>
    </div>
    <div class="number">
        <h3>+4179 744 5595</h3>
    </div>
    <div class="email">
        <h3>computerservice@gmail.com</h3>
    </div>
    <div class="website">
        <h3>www.computerservice.com</h3>
    </div>

    <div class="button">
        <button type="button"> Download my CV</button>
    </div>
</div>
