<mat-toolbar color="primary" class="navbar">
  <div>Tech & Mac</div>
  <div>
    <span>Home</span>
    <span>Services</span>
    <span>About</span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened =!opened">Toggle opened</button>
  </mat-sidenav-content>

</mat-sidenav-container>


<h1>Checkbox </h1>
<mat-checkbox #showDetails [checked]="isChecked" (change)="onChange($event)">Show Details</mat-checkbox>
<br>
<h1>Radio Button</h1>
<mat-radio-group value="0">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>
<br>
<h1>Select</h1>
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<h1>Input</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <input matInput value="Biryani">
  </mat-form-field>
</form>
<br>

<h3>Button</h3>
<button mat-raised-button color="primary">Primary</button><br>
<button mat-raised-button color="accent">Accent</button><br>
<button mat-raised-button color="warn">Warn</button><br>

<h1>Typography</h1>

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 4</div>
<div class="mat-display-2">This is display 4</div>
<div class="mat-display-1">This is display 4</div>


<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3 </div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is body text</div>
<div class="mat-caption">This is body text</div>

<h1>Toggle button</h1>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue </mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

<h1>Icons</h1>
<div>
  <mat-icon>home</mat-icon>
  <mat-icon>favorite</mat-icon>
  <mat-icon>logout</mat-icon>
  <mat-icon>event</mat-icon>
  <mat-icon>facebook</mat-icon>

  <mat-icon>youtube</mat-icon>
</div>
<h1>Badge</h1>
<div>
  <span matBadge="5" matBadgeSize="large">Notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before" matBadgeColor="primary">Notification</span>
</div>

<h1>Spinner</h1>

<div>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <button mat-raised-button (click)="loadData()" color="primary">Load Data</button>
</div>

<h1> List </h1>
<mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">About</a>
  <a mat-list-item href="#">Service</a>
</mat-nav-list>
