
<h1>Mat Grid List</h1>
<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile >Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 2</mat-grid-tile>
  <mat-grid-tile>Tile 3</mat-grid-tile>
  <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>

<h1>Mat Expansion Panel</h1>

<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Fundamentals
    </mat-panel-title>
   <mat-panel-description>
    Total Duration: 5 hours
  </mat-panel-description>
</mat-expansion-panel-header>
<p>This is the panel content. Add course details.</p>
<mat-action-row>
  <button mat-button>
    Enroll
  </button>
</mat-action-row>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Java Tutorials
    </mat-panel-title>
   <mat-panel-description>
    Total Duration: 6 hours
  </mat-panel-description>
</mat-expansion-panel-header>
<p>This is the panel content. Add course details.</p>
<mat-action-row>
  <button mat-button>
    Enroll
  </button>
</mat-action-row>
</mat-expansion-panel>
</mat-accordion>


<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>