<div class="container">
    <div class="photo">
        <img src="../../assets/mur.jpeg" alt="" >

    </div>
    <div class="title">
        <h1>Murtaza Mohmmadi</h1>
        <h3>Frontend Developer</h3>
        <hr>
        <p>01.07.1994, Afghanistan, seit 2017 in der Schweiz, Aufenthaltbewilligung B</p>
    </div>

    <div class="contact">
        <h1>Contact Info</h1>
        <hr>
        <strong>Email Adress:</strong>
        <p>murtaza.mohammadi@gmail.com</p>
        <strong>Telephon Number</strong>
        <p>079 74 45 595</p>
        <strong>Adresse </strong>
        <p>Liebensteinstrasse 5, 8047 Zürich</p>
        <strong>LinkedIn</strong>
        <p>linkedIn.com/in/murtaza-mohammadi</p>
        <strong>Github</strong>
        <p>github.com/in/murtaza-mohammadi</p>
    </div>

    <div class="ausbildung">
        <h1>Ausbildung</h1>
        <hr>
        <h2>Bachelorstudium in Informatik</h2>
        <h3>Polytechnische Universität Kabul</h3>
        <p>04/2012 - 12/2015</p>
        <p>Courses</p>
        <ul>
            <li>Design of Electronic Letter Box </li>
            <li>Fundamentals of Computer Network </li>
            <li>Mathematik </li>
            <li>Fundamentals of Computer Graphic</li>
        </ul>

    </div>


</div>