.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "image title"
        "contact ausbildung"
        "skills exe"
        "lang srk"
        "interesse weiter";
    grid-gap: 0.2rem;

}

.photo, img{
    grid-area: image;
    margin-top: 10px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.title {
    margin-top: 10px;
    padding-left: 15px;
    grid-area: title;
    border: 1px solid gray;
    background-color: rgb(71, 71, 199);
    color: white;
    border-radius: 25px;
    
   
}

.contact{
    grid-area: contact;
    height: 350px;
}

.ausbildung{
    grid-area: ausbildung;
    height: 350px;
}

.skills{
    grid-area: skills;
    
}
.experience{
    grid-area: exe;
}

hr{
    color: gray;
    background-color: gray;
}

.language{
    grid-area: lang;
}
.srk{
    grid-area: srk;
}

.interesse{
    grid-area: interesse;
}
.weiter{
    grid-area: weiter;
}

h2{
    background-color: rgb(71, 71, 199);
    color: white;
    border-radius: 5px;
}


