<!-- Gallery -->
<div class="container">
    <h1>Welcome to my Gallery</h1>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="../../assets/images/1.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

            <img src="../../assets/images/1 (2).jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />
            <img src="../../assets/jeep.jpg" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/images/1 (3).jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />

            <img src="../../assets/images/1 (4).jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
            <img src="../../assets/images/1.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/images/1 (5).jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

            <img src="../../assets/images/1 (6).jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
            <img src="../../assets/images/1 (7).jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
            <img src="../../assets/images/1 (8).jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />

        </div>
    </div>
</div>
<!-- Gallery -->