.container{ 
    margin-top: 25px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}

.txt{
    font-size: 50px;
    font-weight: bold;
    color: rgb(209, 15, 80);

}