<div class="container">
    <div class="start" [ngClass]="'stylefont'">
        <h3>Here are my Businesses</h3>
        <p>Video bietet eine leistungsstarke Möglichkeit zur Unterstützung Ihres Standpunkts. Wenn Sie auf "Onlinevideo"
            klicken, können Sie den Einbettungscode für das Video einfügen, das hinzugefügt werden soll. Sie können auch
            ein Stichwort eingeben, um online nach dem Videoclip zu suchen, der optimal zu Ihrem Dokument passt.
            Damit Ihr Dokument ein professionelles Aussehen erhält, stellt Word einander ergänzende Designs für
            Kopfzeile, Fußzeile, Deckblatt und Textfelder zur Verfügung. Beispielsweise können Sie ein passendes
            Deckblatt mit Kopfzeile und Randleiste hinzufügen. Klicken Sie auf "Einfügen", und wählen Sie dann die
            gewünschten Elemente aus den verschiedenen Katalogen aus.
            Designs und Formatvorlagen helfen auch dabei, die Elemente Ihres Dokuments aufeinander abzustimmen. Wenn Sie
          m anderen Gerät.
        </p> 
    </div>
    <!--This is the Tech & Mac Section-->
    <div class="intro" [ngClass]="'stylefont'">
        <h3 [ngStyle]="{'color': '#dc143c'}">Tech & Mac </h3>
        <p>
            Tech & Mac is a youtube channel. I am teaching here new Programming Language, new Frameworks, new
            Technologies.
            The languages that I will teach in this youtube channel are: JAVA, JAVASCRIPT, CSS, HTML and Framework like
            Bootstrap and Angualar.
            Tech & Mac is a youtube channel. I am teaching here new Programming Language, new Frameworks, new
            Technologies.
            The languages that I will teach in this youtube channel are: JAVA, JAVASCRIPT, CSS, HTML and Framework like
            Bootstrap and Angualar.
            Also I teach about different Operating System such as Windows
            Also I teach about different Operating System such as Windows, Mac and Linux..
        </p>
        <button class="btn btn-primary"><a [ngClass]="'link'" href="https://www.youtube.com/channel/UC1-XaZ0_TK-oxz4i7CRuXUA">Tech & Mac</a> </button>
    </div>
    <div class="vid">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2u0JMQ5tbtg"
                allowfullscreen></iframe>
        </div>
    </div>
    <!--This is Switzerland 2.0 Section-->
    <div class="swiss" [ngClass]="'stylefont'">
        <h3 [ngStyle]="{'color':'blue'}">Switzerland 2.0 </h3>
        <p>
            Switzerland 2.0 is a youtube channel. I am teaching here new Programming Language, new Frameworks, new
            Technologies.
            The languages that I will teach in this youtube channel are: JAVA, JAVASCRIPT, CSS, HTML and Framework like
            Bootstrap and Angualar.
            Tech & Mac is a youtube channel. I am teaching here new Programming Language, new Frameworks, new
            Technologies.
            The languages that I will teach in this youtube channel are: JAVA, JAVASCRIPT, CSS, HTML and Framework like
            Bootstrap and Angualar.
            Also I teach about different Operating System such as Windows
            Also I teach about different Operating System such as Windows, Mac and Linux..
        </p>
        <button class="btn btn-danger"><a [ngClass]="'link'" href="https://www.youtube.com/channel/UCFc4Kp2BgB_AQD7MGp7AitQ">Switzerland 2.0</a> </button>
    </div>
    <div class="sight">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0aOsjCUY-e0"
                allowfullscreen></iframe>
        </div>
    </div>
    <!--This is Taraneh Music Center Section-->
    <div class="taraneh" [ngClass]="'stylefont'">
        <h3 [ngStyle]="{'color': 'red'}">Taraneh Music Center</h3>
        <p>
            Taraneh Music Center is a youtube channel. I am teaching here new Programming Language, new Frameworks, new
            Technologies.
            The languages that I will teach in this youtube channel are: JAVA, JAVASCRIPT, CSS, HTML and Framework like
            Bootstrap and Angualar.
            Tech & Mac is a youtube channel. I am teaching here new Programming Language, new Frameworks, new
            Technologies.
            The languages that I will teach in this youtube channel are: JAVA, JAVASCRIPT, CSS, HTML and Framework like
            Bootstrap and Angualar.
            Also I teach about different Operating System such as Windows
            Also I teach s different Operating System such as Windows, Mac and Linux..
        </p>
        <button class="btn btn-info"><a [ngClass]="'link'" href="https://www.youtube.com/channel/UC_PfQdUTJw1hRkXdsvAwRfQ">Taraneh Music Center</a>  </button>
    </div>
    <div class="music">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/duL9CXFmQFU"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>This is Space X</h1>
        </div>
    </div>
</div>