.container{
    margin-left: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "football wandern velofahren"
        "schwimmen ski reading";

}

.football{
    grid-area: football;
}
.wandern{
    grid-area: wandern;
}
.velofahren{
    grid-area: velofahren;
}
.schwimmen{
    grid-area: schwimmen;
}
.ski{
    grid-area: ski;
}
.read{
    grid-area: reading;
}
img{
    width: 250px;
    border-radius: 10%;
    height: 200px;
}

.title{
    margin-left: 310px;
}
