<div class="title">
    <h3>Meine Hobbies</h3>
    <button class="btn btn-primary" (click)="showHobby()">Show Hobbies</button>
    <hr>
    <button class="btn btn-primary" (click)="hideHobbies()">Hide Hobbies</button>
</div>
<div class="container" *ngIf="!showHobbies">
    <div class="football">
        <h4>Fussball Spielen</h4>
        <img src="../../assets/b.jpg" alt="">
    </div>
    <div class="wandern">
        <h4>Wandern</h4>
        <img src="../../assets/w.jpg" alt="">
    </div>
    <div class="velofahren">
        <h4>Velofahren</h4>
        <img src="../../assets/bb.jpg" alt="">
    </div>
    <div class="schwimmen">
        <h4>Schwimmen</h4>
        <img src="../../assets/schwi.jpg" alt="">
    </div>
    <div class="ski">
        <h4>Ski fahren</h4>
        <img src="../../assets/ski.jpg" alt="">
    </div>
    <div class="read">
        <h4>Buch lesen</h4>
        <img src="../../assets/read.jpg" alt="">
    </div>
</div>


