<div class="title">
    <h3>Meine Hobbies</h3>
    <button class="btn btn-primary" (click)="showHobby()">Show Hobbies</button>
    <hr>
    <button class="btn btn-primary" (click)="hideHobbies()">Hide Hobbies</button>
</div>
<div class="container" *ngIf="showHobbies">
    <div class="football">
        <h4>Football</h4>
        <img src="../../assets/b.jpg" alt="">
    </div>
    <div class="wandern">
        <h4>Wandern</h4>
        <img src="../../assets/w.jpg" alt="">
    </div>
    <div class="velofahren">
        <h4>Velofahren</h4>
        <img src="../../assets/bb.jpg" alt="">
    </div>
</div>
