
    <section id="header">
        <div class="cantainer text-center">
            <div class="user-box">
                <img src="../../assets/mur.jpeg" alt="">
                <h1>Let's bring your digital ideas to market</h1>
                <p>Do you have any project in mind ?</p>
            </div>
        </div>
        
    </section>



    <div class="container">
        <div class="adress">
            <h3>Adress</h3>
            <h4>Liebensteinstrasse 5, 
            8048 Zürich</h4>
            <h4>Schweiz</h4>
        </div>
        
        <div class="general">
            <h3>General Contacts</h3>
            <h4>079 744 55 95</h4>
            <h4>mohammadi@kmu-informatik.ch</h4>
        </div>
    </div>
    <div class="show">
        <button class="btn btn-info" (click)="showFormular()">Show Formular</button>
        <hr>
        <button class="btn btn-danger" (click)="hideFormulars()">Hide Formular</button>

    </div>
    <app-form *ngIf="hideFormular"></app-form>




<app-footer></app-footer>