<div class="container">
    <div class="image">
        <h1>Kontaktieren Sie Uns</h1>
        <img src="../../assets/contact.jpg" alt="">
    </div>


    <div class="boxes">
        <h4>Adresse</h4>
        <strong>Liebensteinstrasse 5, 8047 Zürich</strong>
    </div>

    <div class="boxes2">
        <h4>Telephon Number</h4>
        <strong>079 745 44 55</strong>
    </div>
    <div class="boxes3">
        <h4>Website</h4>
        <strong>www.murtaza.com</strong>
    </div>
</div>


<form>
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">E-Mail</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
      </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


<app-footer></app-footer>