<div class="container">
    <div class="image">
        <h1>Kontaktieren Sie Uns</h1>
        <img src="../../assets/contact.jpg" alt="">
    </div>


    <div class="boxes">
        <h4>Adresse</h4>
        <strong>Liebensteinstrasse 5, 8047 Zürich</strong>
    </div>

    <div class="boxes2">
        <h4>Telephon Number</h4>
        <strong>079 745 44 55</strong>
    </div>
    <div class="boxes3">
        <h4>Website</h4>
        <strong>www.murtaza.com</strong>
    </div>
</div>

<app-footer></app-footer>