
<div class="container">

    <div class="para">
        <h1>My offered Service</h1>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
             commonly used to demonstrate the visual form of a document or a 
             typeface without relying on meaningful content. Lorem 
            ipsum may be used as a placeholder before the final copy is 
            available.
        </p>

    </div>

    <div class="graphics">
        <h4>Graphics</h4>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a 
            typeface without relying on meaningful content. Lorem 
           ipsum may be used as a placeholder before the final copy is 
           available.
       </p>

       <img src="../../assets/graphic.jpg">

    </div>

    <div class="development">
        <h4>Development</h4>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a 
            typeface without relying on meaningful content. Lorem 
           ipsum may be used as a placeholder before the final copy is 
           available.
       </p>
       <img src="../../assets/dev.jpg" alt="">
        
    </div>

    <div class="programmin">
        <h4>Programming Language</h4>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a 
            typeface without relying on meaningful content. Lorem 
           ipsum may be used as a placeholder before the final copy is 
           available.
       </p>
       <img src="../../assets/prggg.jpg" alt="">
        
    </div>   



    <div class="computer-graphic">
        <h4>Computer Graphic</h4>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a 
            typeface without relying on meaningful content. Lorem 
           ipsum may be used as a placeholder before the final copy is 
           available.
       </p>

       <img src="../../assets/comgra.jpg" alt="">

    </div>

    <div class="networking">
        <h4>Networking</h4>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a 
            typeface without relying on meaningful content. Lorem 
           ipsum may be used as a placeholder before the final copy is 
           available.
       </p>
       <img src="../../assets/netw.jpg" alt="">
        
    </div>

    <div class="assembly">
        <h4>Artificial Intelegence</h4>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a 
            typeface without relying on meaningful content. Lorem 
           ipsum may be used as a placeholder before the final copy is 
           available.
       </p>
       <img src="../../assets/asem.jpg" alt="">
        
    </div>
    
</div>

<app-footer></app-footer>

