.container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
   
    "parag parag parag"
    "graphics development language"
    "computer-graphic networking assembly"
    ;
    grid-gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
     
}

.para{
    background-color: rgb(6, 6, 7);
    border-radius: 10px;
    color: white;
    text-align: center;
    grid-area: parag;
    padding-left: 10px;

    
}
.para>p{
    font-size: 25px;
}
h4{
    font-weight: bold;
    
}

.graphics{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    grid-area: graphics;
    padding-left: 10px;
   
}

.development{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    grid-area: development;
    padding-left: 10px;
    
}
.programmin{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    grid-area: language;
    padding-left: 10px;
}
img{
    width: 350px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.assembly{
    grid-area: assembly;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
}

.networking{
    grid-area: networking;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
}

.computer-graphic{
    grid-area: computer-graphic;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    padding-left: 10px;
}

.graphics:hover{
    background-color: rgb(8, 8, 8);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;

}
.development:hover{
    background-color: rgb(6, 6, 7);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;

}
.programmin:hover{
    background-color: rgb(8, 8, 8);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;
    
}
.assembly:hover{
    background-color: rgb(10, 10, 10);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;

}

.networking:hover{
    background-color: rgb(13, 13, 14);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;

}
.computer-graphic:hover{
    background-color: rgb(1, 1, 2);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;
    
}



