
<div class="title">
  <h3>Technical Skills</h3>
</div>
<div class="container">
  
    <div class="technical">
        <h3>JavaScript</h3>
        <h3>HTML</h3>
        <h3>CSS</h3>
        <h3>Angular</h3>
        <h3>JAVA</h3>
        <h3>Databse</h3>
        <h3>IT Support</h3>
    </div>
    <div class="bar">
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" >25%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" >50%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" >75%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" >100%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" >50%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" >75%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" >10%</div>
      </div>
    </div>
</div>
