
<div class="title">
  <h3>Technical Skills</h3>
</div>
<div class="container">
  
    <div class="technical">
        <p>JavaScript</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Angular</p>
        <p>JAVA</p>
        <p>Databse</p>
        <p>IT Support</p>
    </div>
    <div class="bar">
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" >25%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" >50%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" >75%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" >100%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" >50%</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" >75%</div>
      </div>
    
    </div>
</div>
